# group by
 * aggregation
 * transform
 * filteration

In [2]:
import pandas as pd
import numpy as np

In [25]:
DT = pd.read_csv('../../datasets/titanic.csv')
DT.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
DT.to_string(index=False)

'     PassengerId  Survived  Pclass                                                                                Name     Sex    Age  SibSp  Parch              Ticket      Fare            Cabin Embarked\n0              1         0       3                                                             Braund, Mr. Owen Harris    male  22.00      1      0           A/5 21171    7.2500              NaN        S\n1              2         1       1                                 Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.00      1      0            PC 17599   71.2833              C85        C\n2              3         1       3                                                              Heikkinen, Miss. Laina  female  26.00      0      0    STON/O2. 3101282    7.9250              NaN        S\n3              4         1       1                                        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.00      1      0              113803   53.1000             C123        S\n4              5         0       3                                                            Allen, Mr. William Henry    male  35.00      0      0              373450    8.0500              NaN        S\n5              6         0       3                                                                    Moran, Mr. James    male    NaN      0      0              330877    8.4583              NaN        Q\n6              7         0       1                                                             McCarthy, Mr. Timothy J    male  54.00      0      0               17463   51.8625              E46        S\n7              8         0       3                                                      Palsson, Master. Gosta Leonard    male   2.00      3      1              349909   21.0750              NaN        S\n8              9         1       3                                   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.00      0      2              347742   11.1333              NaN        S\n9             10         1       2                                                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.00      1      0              237736   30.0708              NaN        C\n10            11         1       3                                                     Sandstrom, Miss. Marguerite Rut  female   4.00      1      1             PP 9549   16.7000               G6        S\n11            12         1       1                                                            Bonnell, Miss. Elizabeth  female  58.00      0      0              113783   26.5500             C103        S\n12            13         0       3                                                      Saundercock, Mr. William Henry    male  20.00      0      0           A/5. 2151    8.0500              NaN        S\n13            14         0       3                                                         Andersson, Mr. Anders Johan    male  39.00      1      5              347082   31.2750              NaN        S\n14            15         0       3                                                Vestrom, Miss. Hulda Amanda Adolfina  female  14.00      0      0              350406    7.8542              NaN        S\n15            16         1       2                                                    Hewlett, Mrs. (Mary D Kingcome)   female  55.00      0      0              248706   16.0000              NaN        S\n16            17         0       3                                                                Rice, Master. Eugene    male   2.00      4      1              382652   29.1250              NaN        Q\n17            18         1       2                                                        Williams, Mr. Charles Eugene    male    NaN      0      0              244373   13.0000              NaN        S\n18            19         0       3                             Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)  female  31.00      1      0              345763   18.0000              NaN        S\n19            20         1       3                                                             Masselmani, Mrs. Fatima  female    NaN      0      0                2649    7.2250              NaN        C\n20            21         0       2                                                                Fynney, Mr. Joseph J    male  35.00      0      0              239865   26.0000              NaN        S\n21            22         1       2                                                               Beesley, Mr. Lawrence    male  34.00      0      0              248698   13.0000              D56        S\n22            23         1       3                                                         McGowan, Miss. Anna "Annie"  female  15.00      0      0              330923    8.0292              NaN        Q\n23            24         1       1                                                        Sloper, Mr. William Thompson    male  28.00      0      0              113788   35.5000               A6        S\n24            25         0       3                                                       Palsson, Miss. Torborg Danira  female   8.00      3      1              349909   21.0750              NaN        S\n25            26         1       3                           Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)  female  38.00      1      5              347077   31.3875              NaN        S\n26            27         0       3                                                             Emir, Mr. Farred Chehab    male    NaN      0      0                2631    7.2250              NaN        C\n27            28         0       1                                                      Fortune, Mr. Charles Alexander    male  19.00      3      2               19950  263.0000      C23 C25 C27        S\n28            29         1       3                                                       O\'Dwyer, Miss. Ellen "Nellie"  female    NaN      0      0              330959    7.8792              NaN        Q\n29            30         0       3                                                                 Todoroff, Mr. Lalio    male    NaN      0      0              349216    7.8958              NaN        S\n30            31         0       1                                                            Uruchurtu, Don. Manuel E    male  40.00      0      0            PC 17601   27.7208              NaN        C\n31            32         1       1                                      Spencer, Mrs. William Augustus (Marie Eugenie)  female    NaN      1      0            PC 17569  146.5208              B78        C\n32            33         1       3                                                            Glynn, Miss. Mary Agatha  female    NaN      0      0              335677    7.7500              NaN        Q\n33            34         0       2                                                               Wheadon, Mr. Edward H    male  66.00      0      0          C.A. 24579   10.5000              NaN        S\n34            35         0       1                                                             Meyer, Mr. Edgar Joseph    male  28.00      1      0            PC 17604   82.1708              NaN        C\n35            36         0       1                                                      Holverson, Mr. Alexander Oskar    male  42.00      1      0              113789   52.0000              NaN        S\n36            37         1       3                                                                    Mamee, Mr. Hanna    male    NaN      0      0                2677    7.2292              NaN        C\n37            38         0       3                                                            Cann, Mr. Ernest Charles    male  21.00      0      0          A./5. 2152    8.0500              NaN        S\n38            39         0       3                                                  Vander Planke, Miss. Augusta Maria  female  18.00      2      0              345764   18.0000              NaN        S\n39            40         1       3                                                         Nicola-Yarred, Miss. Jamila  female  14.00      1      0                2651   11.2417              NaN        C\n40            41         0       3                                      Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  female  40.00      1      0                7546    9.4750              NaN        S\n41            42         0       2                            Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)  female  27.00      1      0               11668   21.0000              NaN        S\n42            43         0       3                                                                 Kraeff, Mr. Theodor    male    NaN      0      0              349253    7.8958              NaN        C\n43            44         1       2                                            Laroche, Miss. Simonne Marie Anne Andree  female   3.00      1      2       SC/Paris 2123   41.5792              NaN        C\n44            45         1       3                                                       Devaney, Miss. Margaret Delia  female  19.00      0      0              330958    7.8792              NaN        Q\n45            46         0       3                                                            Rogers, Mr. William John    male    NaN      0      0     S.C./A.4. 23567    8.0500              NaN        S\n46            47         0       3                                                                   Lennon, Mr. Denis    male    NaN      1      0              370371   15.5000              NaN        Q\n47            48         1       3                                                           O\'Driscoll, Miss. Bridget  female    NaN      0      0               14311    7.7500              NaN        Q\n48            49         0       3                                                                 Samaan, Mr. Youssef    male    NaN      2      0                2662   21.6792              NaN        C\n49            50         0       3                                       Arnold-Franchi, Mrs. Josef (Josefine Franchi)  female  18.00      1      0              349237   17.8000              NaN        S\n50            51         0       3                                                          Panula, Master. Juha Niilo    male   7.00      4      1             3101295   39.6875              NaN        S\n51            52         0       3                                                        Nosworthy, Mr. Richard Cater    male  21.00      0      0          A/4. 39886    7.8000              NaN        S\n52            53         1       1                                            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.00      1      0            PC 17572   76.7292              D33        C\n53            54         1       2                                  Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)  female  29.00      1      0                2926   26.0000              NaN        S\n54            55         0       1                                                      Ostby, Mr. Engelhart Cornelius    male  65.00      0      1              113509   61.9792              B30        C\n55            56         1       1                                                                   Woolner, Mr. Hugh    male    NaN      0      0               19947   35.5000              C52        S\n56            57         1       2                                                                   Rugg, Miss. Emily  female  21.00      0      0          C.A. 31026   10.5000              NaN        S\n57            58         0       3                                                                 Novel, Mr. Mansouer    male  28.50      0      0                2697    7.2292              NaN        C\n58            59         1       2                                                        West, Miss. Constance Mirium  female   5.00      1      2          C.A. 34651   27.7500              NaN        S\n59            60         0       3                                                  Goodwin, Master. William Frederick    male  11.00      5      2             CA 2144   46.9000              NaN        S\n60            61         0       3                                                               Sirayanian, Mr. Orsen    male  22.00      0      0                2669    7.2292              NaN        C\n61            62         1       1                                                                 Icard, Miss. Amelie  female  38.00      0      0              113572   80.0000              B28      NaN\n62            63         0       1                                                         Harris, Mr. Henry Birkhardt    male  45.00      1      0               36973   83.4750              C83        S\n63            64         0       3                                                               Skoog, Master. Harald    male   4.00      3      2              347088   27.9000              NaN        S\n64            65         0       1                                                               Stewart, Mr. Albert A    male    NaN      0      0            PC 17605   27.7208              NaN        C\n65            66         1       3                                                            Moubarek, Master. Gerios    male    NaN      1      1                2661   15.2458              NaN        C\n66            67         1       2                                                        Nye, Mrs. (Elizabeth Ramell)  female  29.00      0      0          C.A. 29395   10.5000              F33        S\n67            68         0       3                                                            Crease, Mr. Ernest James    male  19.00      0      0           S.P. 3464    8.1583              NaN        S\n68            69         1       3                                                     Andersson, Miss. Erna Alexandra  female  17.00      4      2             3101281    7.9250              NaN        S\n69            70         0       3                                                                   Kink, Mr. Vincenz    male  26.00      2      0              315151    8.6625              NaN        S\n70            71         0       2                                                          Jenkin, Mr. Stephen Curnow    male  32.00      0      0          C.A. 33111   10.5000              NaN        S\n71            72         0       3                                                          Goodwin, Miss. Lillian Amy  female  16.00      5      2             CA 2144   46.9000              NaN        S\n72            73         0       2                                                                Hood, Mr. Ambrose Jr    male  21.00      0      0        S.O.C. 14879   73.5000              NaN        S\n73            74         0       3                                                         Chronopoulos, Mr. Apostolos    male  26.00      1      0                2680   14.4542              NaN        C\n74            75         1       3                                                                       Bing, Mr. Lee    male  32.00      0      0                1601   56.4958              NaN        S\n75            76         0       3                                                             Moen, Mr. Sigurd Hansen    male  25.00      0      0              348123    7.6500            F G73        S\n76            77         0       3                                                                   Staneff, Mr. Ivan    male    NaN      0      0              349208    7.8958              NaN        S\n77            78         0       3                                                            Moutal, Mr. Rahamin Haim    male    NaN      0      0              374746    8.0500              NaN        S\n78            79         1       2                                                       Caldwell, Master. Alden Gates    male   0.83      0      2              248738   29.0000              NaN        S\n79            80         1       3                                                            Dowdell, Miss. Elizabeth  female  30.00      0      0              364516   12.4750              NaN        S\n80            81         0       3                                                                Waelens, Mr. Achille    male  22.00      0      0              345767    9.0000              NaN        S\n81            82         1       3                                                         Sheerlinck, Mr. Jan Baptist    male  29.00      0      0              345779    9.5000              NaN        S\n82            83         1       3                                                      McDermott, Miss. Brigdet Delia  female    NaN      0      0              330932    7.7875              NaN        Q\n83            84         0       1                                                             Carrau, Mr. Francisco M    male  28.00      0      0              113059   47.1000              NaN        S\n84            85         1       2                                                                 Ilett, Miss. Bertha  female  17.00      0      0          SO/C 14885   10.5000              NaN        S\n85            86         1       3                             Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)  female  33.00      3      0             3101278   15.8500              NaN        S\n86            87         0       3                                                              Ford, Mr. William Neal    male  16.00      1      3          W./C. 6608   34.3750              NaN        S\n87            88         0       3                                                       Slocovski, Mr. Selman Francis    male    NaN      0      0     SOTON/OQ 392086    8.0500              NaN        S\n88            89         1       1                                                          Fortune, Miss. Mabel Helen  female  23.00      3      2               19950  263.0000      C23 C25 C27        S\n89            90         0       3                                                              Celotti, Mr. Francesco    male  24.00      0      0              343275    8.0500              NaN        S\n90            91         0       3                                                                Christmann, Mr. Emil    male  29.00      0      0              343276    8.0500              NaN        S\n91            92         0       3                                                          Andreasson, Mr. Paul Edvin    male  20.00      0      0              347466    7.8542              NaN        S\n92            93         0       1                                                         Chaffee, Mr. Herbert Fuller    male  46.00      1      0         W.E.P. 5734   61.1750              E31        S\n93            94         0       3                                                             Dean, Mr. Bertram Frank    male  26.00      1      2           C.A. 2315   20.5750              NaN        S\n94            95         0       3                                                                   Coxon, Mr. Daniel    male  59.00      0      0              364500    7.2500              NaN        S\n95            96         0       3                                                         Shorney, Mr. Charles Joseph    male    NaN      0      0              374910    8.0500              NaN        S\n96            97         0       1                                                           Goldschmidt, Mr. Ge

In [47]:
DT.groupby('Pclass').groups
DT.groupby('Pclass').groups[1] # group item
DT.groupby('Pclass').groups[1][0:10]

Int64Index([1, 3, 6, 11, 23, 27, 30, 31, 34, 35], dtype='int64')

In [66]:
DT.head().groupby(['Pclass','Sex']).groups

{(1, 'female'): [1, 3], (3, 'female'): [2], (3, 'male'): [0, 4]}

In [69]:
DT.head(20).groupby(['Pclass','Sex']).groups[3,'female']

Int64Index([2, 8, 10, 14, 18, 19], dtype='int64')

In [72]:
DT.head().groupby(['Pclass','Sex'],axis=1).groups

{(nan, nan): ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']}

In [80]:
DT.head().groupby('Sex').get_group('male')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,NaN,S

In [90]:
DT.head().groupby(['Sex','Pclass']).get_group(('female',1))

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [144]:
DT.head().groupby('Age').mean()
DT.head().groupby('Age')['Fare'].agg(np.max)
DT.head().groupby('Age').agg(np.mean)
DT.dropna().astype({'Age':int}).groupby('Age').agg(np.size)
DT.dropna().groupby('Age').first()
DT.groupby('Age').count()
DT.groupby('Age').size()

Age
0.42     1
0.67     1
0.75     2
0.83     2
0.92     1
        ..
70.00    2
70.50    1
71.00    2
74.00    1
80.00    1
Length: 88, dtype: int64

In [146]:
DT.groupby('Age')['PassengerId'].count() # ignore Nan

Age
0.42     1
0.67     1
0.75     2
0.83     2
0.92     1
        ..
70.00    2
70.50    1
71.00    2
74.00    1
80.00    1
Name: PassengerId, Length: 88, dtype: int64

In [152]:
DT.groupby('Age')['Fare'].agg([np.sum,np.mean])

          sum   mean
Age
0.42     0.42   0.42
0.67     0.67   0.67
0.75     1.50   0.75
0.83     1.66   0.83
0.92     0.92   0.92
...       ...    ...
70.00  140.00  70.00
70.50   70.50  70.50
71.00  142.00  71.00
74.00   74.00  74.00
80.00   80.00  80.00

[88 rows x 2 columns]

In [153]:
DT.groupby('Age').agg([np.sum,np.mean])

/tmp/ipykernel_1046/1746508609.py:1: FutureWarning: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  DT.groupby('Age').agg([np.sum,np.mean])

      PassengerId        Survived      Pclass      SibSp      Parch       \
              sum   mean      sum mean    sum mean   sum mean   sum mean
Age
0.42          804  804.0        1  1.0      3  3.0     0  0.0     1  1.0
0.67          756  756.0        1  1.0      2  2.0     1  1.0     1  1.0
0.75         1115  557.5        2  1.0      6  3.0     4  2.0     2  1.0
0.83          911  455.5        2  1.0      4  2.0     1  0.5     3  1.5
0.92          306  306.0        1  1.0      1  1.0     1  1.0     2  2.0
...           ...    ...      ...  ...    ...  ...   ...  ...   ...  ...
70.00        1419  709.5        0  0.0      3  1.5     1  0.5     1  0.5
70.50         117  117.0        0  0.0      3  3.0     0  0.0     0  0.0
71.00         591  295.5        0  0.0      2  1.0     0  0.0     0  0.0
74.00         852  852.0        0  0.0      3  3.0     0  0.0     0  0.0
80.00         631  631.0        1  1.0      1  1.0     0  0.0     0  0.0

           Fare
            sum      mean
Age
0.42     8.5167    8.5167
0.67    14.5000   14.5000
0.75    38.5166   19.2583
0.83    47.7500   23.8750
0.92   151.5500  151.5500
...         ...       ...
70.00   81.5000   40.7500
70.50    7.7500    7.7500
71.00   84.1584   42.0792
74.00    7.7750    7.7750
80.00   30.0000   30.0000

[88 rows x 12 columns]

In [191]:
DT.groupby('Age').transform(lambda x : x-x.mean())

/tmp/ipykernel_1046/4171327041.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the function.
  DT.groupby('Age').transform(lambda x : x-x.mean())
/tmp/ipykernel_1046/4171327041.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the function.
  DT.groupby('Age').transform(lambda x : x-x.mean())
/tmp/ipykernel_1046/4171327041.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the function.
  DT.groupby('Age').transform(lambda x : x-x.mean())

     PassengerId  Survived    Pclass     SibSp     Parch       Fare
0    -364.740741 -0.407407  0.444444  0.851852 -0.222222 -18.254781
1    -324.636364  0.545455 -0.818182  0.727273 -0.545455   8.531791
2    -418.555556  0.666667  0.333333 -0.388889 -0.166667 -11.161806
3    -408.722222  0.388889 -0.833333  0.722222 -0.055556 -36.212500
4    -407.722222 -0.611111  1.166667 -0.277778 -0.055556 -81.262500
..           ...       ...       ...       ...       ...        ...
886   362.111111 -0.611111 -0.222222 -0.222222 -0.277778 -17.361339
887   498.600000  0.640000 -1.360000 -0.320000 -0.200000   2.130504
888          NaN       NaN       NaN       NaN       NaN        NaN
889   468.444444  0.666667 -1.666667 -0.388889 -0.166667  10.913194
890   397.444444 -0.500000  0.444444 -0.277778 -0.055556 -16.573378

[891 rows x 6 columns]

{0.42: [803], 0.67: [755], 0.75: [469, 644], 0.83: [78, 831], 0.92: [305], 1.0: [164, 172, 183, 381, 386, 788, 827], 2.0: [7, 16, 119, 205, 297, 340, 479, 530, 642, 824], 3.0: [43, 193, 261, 348, 374, 407], 4.0: [10, 63, 171, 184, 445, 618, 691, 750, 850, 869], 5.0: [58, 233, 448, 777], 6.0: [720, 751, 813], 7.0: [50, 278, 535], 8.0: [24, 237, 549, 787], 9.0: [147, 165, 182, 480, 489, 541, 634, 852], 10.0: [419, 819], 11.0: [59, 542, 731, 802], 12.0: [125], 13.0: [446, 780], 14.0: [9, 14, 39, 435, 683, 686], 14.5: [111], 15.0: [22, 352, 689, 830, 875], 16.0: [71, 86, 138, 156, 208, 220, 266, 282, 329, 333, 504, 574, 746, 764, 791, 841, 853], 17.0: [68, 84, 114, 163, 307, 389, 433, 500, 532, 550, 721, 781, 844], 18.0: [38, 49, 144, 175, 204, 228, 311, 371, 385, 417, 424, 505, 585, 651, 654, 675, 677, 688, 700, 702, 757, 775, 786, 807, 834, 855], 19.0: [27, 44, 67, 136, 143, 145, 191, 192, 226, 238, 283, 291, 302, 372, 379, 427, 546, 566, 575, 646, 687, 715, 748, 877, 887], 20.0: [12, 91, 113, 131, 378, 404, 441, 622, 640, 664, 682, 725, 762, 840, 876], 20.5: [227], 21.0: [37, 51, 56, 72, 102, 106, 115, 120, 173, 391, 402, 408, 421, 436, 491, 494, 501, 623, 624, 627, 652, 742, 836, 861], 22.0: [0, 60, 80, 112, 141, 151, 212, 225, 243, 287, 289, 320, 323, 356, 373, 376, 395, 474, 478, 521, 539, 553, 554, 588, 608, 708, 882], 23.0: [88, 97, 135, 350, 393, 398, 473, 529, 649, 658, 733, 734, 753, 816, 833], 23.5: [296], 24.0: [89, 118, 127, 139, 142, 199, 210, 234, 247, 293, 294, 310, 316, 341, 345, 369, 394, 437, 499, 514, 565, 600, 615, 641, 655, 710, 743, 770, 858, 864], 24.5: [676], 25.0: [75, 134, 246, 267, 271, 343, 353, 370, 442, 484, 498, 580, 666, 685, 693, 703, 728, 729, 784, 785, 794, 880, 884], 26.0: [2, 69, 73, 93, 162, 207, 290, 312, 315, 401, 509, 617, 619, 628, 704, 810, 870, 889], 27.0: [8, 41, 146, 216, 221, 321, 377, 551, 607, 620, 681, 717, 724, 804, 821, 823, 866, 886], 28.0: [23, 34, 83, 100, 105, 169, 200, 281, 313, 342, 355, 392, 399, 403, 423, 426, 430, 443, 508, 562, 635, 756, 848, 874, 883], 28.5: [57, 735], 29.0: [53, 66, 81, 90, 117, 133, 231, 242, 251, 255, 336, 361, 422, 455, 477, 510, 567, 713, 730, 782], 30.0: [79, 157, 178, 213, 219, 244, 253, 257, 286, 308, 309, 322, 365, 418, 452, 488, 520, 534, 537, 606, 726, 747, 798, 799, 842], 30.5: [767, 814], 31.0: [18, 215, 318, 328, 396, 439, 637, 671, 673, 690, 744, 749, 797, 801, 805, 817, 867], 32.0: [70, 74, 190, 206, 218, 382, 429, 519, 543, 569, 579, 632, 636, 657, 665, 769, 838, 890], 32.5: [122, 123], 33.0: [85, 103, 130, 239, 285, 412, 472, 506, 548, 719, 752, 759, 809, 872, 881], 34.0: [21, 98, 99, 202, 405, 416, 447, 461, 476, 516, 576, 616, 722, 758, 800], 34.5: [843], 35.0: [3, 4, 20, 211, 230, 258, 269, 279, 363, 383, 486, 590, 604, 614, 701, 737, 812, 847], 36.0: [179, 189, 265, 292, 325, 327, 344, 387, 390, 450, 512, 518, 540, 559, 572, 583, 595, 605, 663, 679, 741, 763], 36.5: [148], 37.0: [104, 137, 248, 273, 503, 594], 38.0: [1, 25, 61, 108, 224, 332, 357, 465, 471, 716, 822], 39.0: [13, 400, 528, 558, 577, 581, 610, 705, 795, 806, 808, 811, 835, 885], 40.0: [30, 40, 161, 188, 209, 263, 319, 346, 360, 561, 609, 661, 670], 40.5: [153, 525], 41.0: [254, 272, 337, 638, 761, 860], 42.0: [35, 149, 197, 217, 288, 349, 380, 432, 621, 699, 707, 845, 865], 43.0: [314, 668, 678, 779, 818], 44.0: [160, 194, 236, 245, 414, 523, 603, 696, 854], 45.0: [62, 129, 167, 187, 276, 338, 339, 362, 440, 536, 706, 856], 45.5: [203, 331], 46.0: [92, 397, 789], 47.0: [110, 132, 462, 515, 586, 592, 662, 871, 873], 48.0: [460, 463, 556, 645, 712, 736, 754, 771, 862], 49.0: [52, 453, 597, 599, 698, 796], 50.0: [177, 259, 299, 434, 458, 482, 526, 544, 660, 723], 51.0: [150, 155, 222, 406, 631, 765, 857], 52.0: [262, 449, 591, 695, 714, 820], 53.0: [571], 54.0: [6, 124, 249, 317, 496, 513, 582, 774], 55.0: [15, 492], 55.5: [152], 56.0: [174, 467, 647, 879], 57.0: [626, 772], 58.0: [11, 195, 268, 487, 659], 59.0: [94, 232], 60.0: [366, 587, 684, 694], 61.0: [170, 326, 625], 62.0: [252, 555, 570, 829], 63.0: [275, 483], 64.0: [438, 545], 65.0: [54, 280, 456], 66.0: [33], 70.0: [672, 745], 70.5: [116], 71.0: [96, 493], 74.0: [851], 80.0: [630]}